
<h1>Главная</h1>
<img src="https://webpulse.imgsmail.ru/imgpreview?mb=webpulse&key=pulse_cabinet-image-7bcf65c0-722a-414c-9e28-29a2bb6f36c9" alt="img">
<script>
    const token = localStorage.getItem('token')
    if(!token) location.href = `{{host}}/auth/signin`
</script>